<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rent-It</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
      crossorigin=""
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href={% static "index.css" %} />
    <link rel="stylesheet" href={% static 'index2style.css' %} />
  </head>"index.css"
  <body>
    <body>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <!-- Container wrapper -->
        <div class="container">
          <!-- Navbar brand -->
          <a class="navbar-brand" href={% url 'basepage' %}
            ><i class="fa-sharp fa-solid fa-house-chimney-user">Rent-It</i></a
          >
          <!-- Search form -->
          <form class="input-group" style="width: 400px" method="get">
            {% csrf_token %}
            <input
              type="search"
              name="search"
              id="search"
              class="form-control"
              placeholder="Location"
              aria-label="Search"
            />
            
            <button
              class="btn btn-outline-primary"
              type="submit"
              data-mdb-ripple-color="dark"
              style="padding: 0.45rem 1.5rem 0.35rem"
            >
              Search
            </button>
            
          </form>
  
          <label class="switch">
            <input type="checkbox"  checked />
            <span class="slider round"></span>
          </label>
  
          <!-- Toggle button -->
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
  
          <!-- Collapsible wrapper -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link d-flex flex-column text-center"
                  aria-current="page"
                  href={% url 'owner' %}
                  ><i class="fa-solid fa-money-bill-trend-up"></i
                  ><span class="small">Rent Out</span></a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link d-flex flex-column text-center"
                  aria-current="page"
                  href="#"
                  ><i class="fa-solid fa-truck-ramp-box"></i
                  ><span class="small">Mover</span></a
                >
              </li>
  
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img
                    src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg"
                    class="rounded-circle"
                    height="30"
                    alt=""
                    loading="lazy"
                  />
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
              </li>
            </ul>
            <!-- Left links -->
          </div>
          <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
      </nav>
  
      <!-- Navbar -->
      <div id="map-container">
        <div id="map"></div>
        <button id="findMeButton">
          <i class="fa-solid fa-location-crosshairs"></i>
        </button>
      </div>
      
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          var checkbox = document.querySelector('.switch input[type="checkbox"]');
  
          checkbox.addEventListener("change", function () {
            if (this.checked) {
              // Checkbox is checked, redirect to another page
              window.location.href = "#";
            } 
            else {
              // Checkbox is unchecked, redirect to another page
              window.location.replace("http://127.0.0.1:8000/index2");
              
            }
          });
        });
      </script>
    {% comment %} <script src={% static 'index.js' %}></script> {% endcomment %}
    <script >
      // JavaScript code remains unchanged
var findMeButton = document.getElementById("findMeButton");
var map = L.map("map");
var marker, circle, zoomed;

map.setView([28.26689, 83.96851], 13);
L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
  maxZoom: 19,
}).addTo(map);
{% for c in coordinates %}

//L.marker([{{ c.Latitude }}, {{ c.Longitude }}]).addTo(map).bindPopup("Hello");

L.marker([{{ c.Latitude }}, {{ c.Longitude }}],{icon:L.icon({iconUrl:'{{image2}}',iconSize:[25,41],iconAnchor:[12,41],popupAnchor:[1,-34]})}).addTo(map).bindPopup("LInk to the House OwnerPage");
{% endfor %}
{% for c in coordinates2 %}

//L.marker([{{ c.Latitude }}, {{ c.Longitude }}]).addTo(map).bindPopup("Hello");

L.marker([{{ c.Latitude }}, {{ c.Longitude }}],{icon:L.icon({iconUrl:'{{image}}',iconSize:[25,41],iconAnchor:[12,41],popupAnchor:[1,-34]})}).addTo(map).bindPopup("{{search}}");
{% endfor %}
findMeButton.addEventListener("click", () => {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(success, error);
  } else {
    alert("Geolocation is not supported by your browser");
  }
});

function success(position) {
  const lati = position.coords.latitude;
  const longi = position.coords.longitude;
  const accuracy = position.coords.accuracy;

 // if (marker) {
   // map.removeLayer(marker);
   // map.removeLayer(circle);
 // }

  marker = L.marker([lati, longi]).addTo(map);
  circle = L.circle([lati, longi], { radius: accuracy }).addTo(map);
  if (!zoomed) {
    zoomed = map.fitBounds(circle.getBounds());
  }

  map.setView([lati, longi]);
}

function error(err) {
  if (err.code === 1) {
    alert("Please allow geolocation access");
  } else {
    alert("Unable to retrieve info");
  }
}



      </script>
    
      {% for c in coordinates %} 
     <h1> {{c.latitude}} {{c.longitude}};</h1>
      {% endfor %}
  </body>
</html>
